
target/
verify_out/
*.o
*.so
*.so.[0-9]*
zlift/target/
ZLUDA/target/

CuLifter/.conda_env/
**/site-packages/
benchmark/nv_libraries/

*.cubin
*.spv
*.spirv.ll
*.merged.ll
*.linked.ll
*.args.json
*.nvglobal.bin
CuLifter/test/**/*.sass
CuLifter/test/**/*.elf
CuLifter/test/**/*.nvdisasm
CuLifter/test/**/*.ptx

*.log
.cache/

password.txt
*password*
*.pem
*.key
id_rsa*
__pycache__/ 
